<h1>Tasking Management</h1>
<p>Welcome to the app for managing  task</p>
<button type="button" class="btn btn-primary">Create New task</button><br/>
<label for="filterUser">Show:</label>
<select id="filterUser" #userSelect (change)="onSelectUser(userSelect.value)" >
    <option default value="" >All</option>
    <option default value="none" >Not assigned</option>
    <option *ngFor="let user of userList"
        value="{{user.id}}" >
        {{ user.userName }}
    </option>
</select>
<section class="columns">
    <ul class="column" >
        <h3>Pending</h3>
        <li *ngFor="let task of filterPending()" class="note">
            <task-view  [taskInfo]="task" [globalTaskList]="taskList" (onUserAssign)="perfomAssignUser($event)"
             (onClickEditTask)="perfomEditTask($event)" />
        </li>
    </ul>
    
    <ul class="column">
        <h3>In Progress</h3>
        <li *ngFor="let task of filterInProgress()" class="note">
            <task-view  [taskInfo]="task" [globalTaskList]="taskList" (onUserAssign)="perfomAssignUser($event)" 
            (onClickEditTask)="perfomEditTask($event)"/>
        </li>
    </ul>
    <ul class="column">
        <h3>Done</h3>
        <li *ngFor="let task of filterDone()" class="note">
            <task-view  [taskInfo]="task" [globalTaskList]="taskList" (onUserAssign)="perfomAssignUser($event)" 
            (onClickEditTask)="perfomEditTask($event)"/>
        </li>
    </ul>
</section>
